.logos{
    width:90px;
    height:90px;
    padding: 10px;
  transition: filter 400ms;
  will-change: filter;
    
}
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
     .logos {
      animation: logo-spin infinite 20s linear;
    }
  }

  .logos:hover {
    filter: drop-shadow(0 0 2em #df2e22aa);
  }
  .logos.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

